<h1>Burgers!</h1>

<h2>Burgers that have not been devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
          <form action="hamburgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button type="submit">Devoured!</button>
          </form>
        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2> Burgers that have been destoyed</h2>

<!-- <ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>

      </li>
    {{/if}}
  {{/each}}
</ul> -->
